/* General styles */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
  /*background: linear-gradient(#b4b9c2, #000000);*/                                     
    background-color: #011225;
    color: #ffffff;
  }



  header {
    text-align: center;
    position: sticky;
    margin: 0;
  }
  
  main {
    padding-top: 90px; /* Increased padding-top to account for the navbar */
  }
  
  
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    color: #ffffff !important;
    position:static;
    font-size: 1.1rem;
    margin-right: 1.5rem; /* Increased margin-right for more spacing */
  }
  
  .nav-link:hover {
    color: #ffffff !important;
  }
  
  .about-section{
    padding: 1em 0; /* Increased padding for more spacing */
    text-align:left;
    font-size: clamp(40px, 5vw, 70px);
    text-decoration: solid;
  }
  .about-section img {
    max-width: 80%;
    border-radius: 55%;
    margin-bottom: 40px;
  }
  .about-section p {
    color: #ffd60a;
  }
  
  .projects-section{

  }
  .skills-section{
    padding: 3em 0; /* Increased padding for more spacing */
    text-align:left;
    align-items: center;
    margin-left: 19.5%;
  }
  
  .skill-box {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skill-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .icons2 {
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-wrap: wrap;
  
  }
  
  
  @media (min-width: 768px) {
    .project {
      display: flex;
      align-items: center;
    }
  
    .project h2 {
      flex: 1;
    }
  
    .project p {
      flex: 2;
    }
  
    .project a {
      flex: 1;
      text-align: right;
    }
  }
  
  /* Keyframe animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  section {
    animation: fadeIn 1s ease-in-out;
  }
  
  .email-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .email-button:hover {
    background-color: #0056b3;
  }
  
  .email-button svg {
    margin-right: 8px;
  }


  footer {
    color : white;
  }


